.content {
  background: @hero-small-background;
  background-position: center 0px;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  position: relative;
  padding-bottom: @grid-gutter-width;

  .overlay {
    background: @hero-small-overlay;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}