
.cta {
  padding: @grid-gutter-width 0;
  background: @cta-bg;

  @media @xs {
    padding: @grid-gutter-width/2 0;
  }

  .cta-message {
    .delayed(@cta-time-delay-offset + 0ms);

    margin-bottom: @grid-gutter-width/2;
    p {
      color: @cta-message-color;
      margin: 0;

      @media @xs { .text-center; }
      @media @lg { font-size: @font-size-h4;}
    }
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(8);
    //.make-md-column-offset(1);
    .make-lg-column-offset(1);

    @media @md {
      .text-right;
      padding-top: 10px;
    }

    @media @lg {
      padding-top: 7px;
      width: auto;
      display: inline-block;
    }

  }

  .cta-btn {
    .delayed(@cta-time-delay-offset + 200ms);

    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(2);

    a {

    }

    @media @xs {
      text-align: center;
    }

    @media @lg {
      display: inline-block;
      width: auto;
    }

  }

}