.footer {
  position: relative;
  background: @footer-bg;
  background: url("/img/jumbotron-bg-2.jpg");
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  @media @lg {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media @md {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media @sm {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media @xs {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  h4 {
    color: @footer-title-color;
    margin: 0 0 20px 0;
    @media @xs {
      margin: 15px 0 10px 0;
    }

  }

  a {
    .transitions;
    &:hover { text-decoration: none;}
  }

  .overlay {
    background: @footer-overlay;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .footer-intro {
    .make-md-column(3);
    .make-sm-column(12);
    .make-md-column(3);
    .make-lg-column(3);
    .hidden-xs;

    @media @sm {
      padding-bottom: 15px;
    }

    .footer-logo-holder{
      .make-xs-column(12);
      .make-sm-column(3);
      .make-md-column(8);
      .make-lg-column(8);
      //.make-lg-column-offset(2);
    }

    .footer-short-text-holder {
      .make-xs-column(12);
      .make-sm-column(9);
      .make-md-column(12);
      .make-lg-column(12);
    }

    svg {
      .img-responsive;
      width: 100%;
      .fil2 {fill: white;}
    }

    p {
      margin-top: 10px;
      color: @footer-color;
      font-size: 12px;
    }
  }

  .footer-most-viewed {
    .make-md-column(3);
    .make-sm-column(12);
    .make-md-column(3);
    .make-lg-column(3);
    //.hidden-xs;

    @media @sm {
      padding-bottom: 15px;
    }

    .footer-most-viewed-list {
      //.make-xs-column(12);
      @media @xs {.text-center;}
    }

    .footer-most-viewed-item {
      .make-xs-column(12);
      .make-sm-column(12);
      .make-md-column(12);
      overflow: hidden;
      position: relative;

      > a {
        overflow: hidden;
        display: block;
      }

      &:hover {
        //.ad-short-description {
        //  top: 15px;
        //  .opacity(1);
        //}
      }

      .transitions;
      padding: 15px;



      .ad-type {
        position: absolute;
        top: 0;
        left: 0;
        //background: red;
        padding: 5px 15px;
        z-index: 1;
        font-size: 14px;


        &.rent {
          background: @ad-type-rent-bg;
          color: @ad-type-rent-color;
        }

        &.for-sell {
          background: @ad-type-for-sale-bg;
          color: @ad-type-for-sale-color;
        }

      }

      .ad-title {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;
        z-index: 1;
        background: transparent;

        h4 {
          padding: 10px 15px;
          font-size: 16px;
          background: rgba(0,0,0,0.5);
          color: white;
          margin-bottom: 0;
        }

        @media @md {

          h4 {
            margin-bottom: 36px;
          }
        }


        //position: relative;

        //h4 {
        //  padding: 15px;
        //  margin: 0;
        //  background: @ad-title-bg;
        //  color: @ad-title-color;
        //}
        //
        //@media @xs {
        //  left: 0;
        //  h4 {
        //    padding: 10px 15px;
        //    font-size: 14px;
        //  }
        //}
        //
        //
        //@media @lg {
        //  position: absolute;
        //  bottom: 15px;
        //  left: 15px;
        //  right: 15px;
        //  z-index: 1;
        //  background: transparent;
        //
        //  h4 {
        //    padding: 10px 15px;
        //    font-size: 16px;
        //    background: rgba(0,0,0,0.5);
        //    color: white;
        //  }
        //}
        //@media @md {
        //  h4 {
        //    padding: 10px 15px;
        //    font-size: 16px;
        //  }
        //}
        //@media @sm {
        //  h4 {
        //    padding: 10px 15px;
        //    font-size: 16px;
        //  }
        //}
      }

      .ad-price {


        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1;

        h4 {
          padding: 10px 15px;
          font-size: 16px;
          background: rgba(0,0,0,0.5);
          color: white;
          margin: 0;
        }




        //@media @xs {
        //  position: relative;
        //  left: 0;
        //
        //  h4 {
        //    background: @ad-price-bg-mobile;
        //    color: @ad-price-color-mobile;
        //    padding: 10px 15px;
        //    font-size: 16px;
        //  }
        //}


        //@media @lg {
        //  position: absolute;
        //  top: 15px;
        //  right: 15px;
        //  z-index: 1;
        //
        //  h4 {
        //    padding: 10px 15px;
        //    font-size: 16px;
        //    background: rgba(0,0,0,0.5);
        //    color: white;
        //  }
        //}
        //@media @sm {
        //  position: absolute;
        //  bottom: 0;
        //  right: 0;
        //  z-index: 1;
        //
        //  h4 {
        //    padding: 10px 15px;
        //    font-size: 16px;
        //  }
        //}
        @media @md {
          position: relative;
          top: 0;
          right: 0;
          z-index: 1;

          h4 {
                background: @ad-price-bg-mobile;
                color: @ad-price-color-mobile;
                padding: 10px 15px;
                font-size: 16px;

            padding: 10px 15px;
            font-size: 16px;
          }
        }
      }
    }

  }




  .footer-social-links {
    .make-xs-column(12);
    .make-sm-column(3);
    .make-md-column(2);
    .make-lg-column(2);

    @media @xs { .text-center;}

    a + a {
      margin-left: 15px;
    }

  }

  .footer-contact-links {
    .make-xs-column(10);
    .make-xs-column-offset(1);
    .make-sm-column(4);
    .make-sm-column-offset(0);
    .make-md-column(3);
    .make-md-column-offset(0.5);
    .make-lg-column(3);

    @media @xs {h4{.text-center;}}
    @media @xs {.text-center;}

    ul {
      list-style-type: none;
      padding: 0 0 0 0;

      a {
        .btn;
        margin-bottom: 5px;
        padding-left: 30px;

        &:hover {
          color: @footer-link-color-hover;

        }
      }
    }

    .phone-link {
      position: relative;
        &:before {
          position: absolute;
          top: 0px;
          left: 0px;
          line-height: 1;
          font-family: FontAwesome;
          font-size: 30px;
          color: @footer-contact-icon;
          content: @fa-var-phone-square;
        }
    }
    .mail-link {
      position: relative;
      &:before {
        position: absolute;
        top: 0px;
        left: 0px;
        line-height: 1;
        font-family: FontAwesome;
        font-size: 30px;
        color: @footer-contact-icon;
        content: @fa-var-envelope-square;
      }
    }
  }

  .footer-general-links {
    .make-xs-column(12);
    .make-sm-column(4.5);
    .make-sm-column-offset(0.5);
    .make-md-column(2.4);
    .make-md-column-offset(0.6);
    .make-lg-column(2);
    .make-lg-column-offset(1);

    @media @xs { .text-center;}

    ul {
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 10px;
      }
    }

    a {
      font-family: "Ubuntu", sans-serif;
      font-size: 20px;
    }

  }

  .footer-contact-links a, .footer-general-links a {
    color: @footer-link-color;

    &:hover {
      color: @footer-link-color-hover;
    }
  }
}

.link-facebook {
  color: @footer-color;

  &:hover {
    color: @footer-social-fb-hover;
  }

}
.link-instagram {
  color: @footer-color;

  &:hover {
    color: @footer-social-insta-hover;
  }
}