.header {
  position: fixed;
  z-index: 2000;


}

.header {
  .navbar-fixed-top;
  .container-fluid;
  background: @primary-color;
  z-index: 2000;
  padding: 20px;
  .transitions;

  @media @lg {

  }


  &.top {
    background: transparent;
    padding: 30px;

    .nav-toggle {

      background: rgba(0,0,0,0.5);
      .icon-bar {
        //background-color: @primary-color;
      }
    }

    .logo {
      width: 200px;
      height: 60px;

      .fil0 {
        fill: @primary-color;
      }
      .fil1 {
        fill: @primary-color;
      }
      .fil2 {
        fill: #525151;
      }

      @media @lg {
        top: 200px;


      }
    }
  }

  .logo {
    
    @media @lg {
      top: 5px;
      //left: 100%;

    }

    .fil0, .fil1, .fil2 {
      fill: white;
    }


    .transitions;
    width: 200px;
    height: 50px;
    position: absolute;
  }

}

.logo-block {
  float: left;
  width: 500px;
  height: 84px;
  //display: block;
  position: absolute;
  top: 0;
  left: 50%;
  .translate(-50%,0);
}