.header {
  position: fixed;
  z-index: 2000;
}

.header {
  .navbar-fixed-top;
  .container-fluid;
  background: @primary-color;
  z-index: 2000;
  padding: 20px;
  .transitions;

  .left-side {
    .make-xs-column(3);
  }

  @media @xs {
    padding: 0;
  }
  
  &.top {
    background: transparent;
    padding: 10px;

    //@media @xs {
    //  padding: 0;
    //}
    //
    .nav-toggle {

      background: rgba(0,0,0,0.5);
      .icon-bar {
        //background-color: @primary-color;
      }
    }

    .logo {
      width: 200px;
      height: 60px;

      .fil0 {fill:@primary-color;}
      .fil1 {fill: @primary-color;}
      .fil2 {fill: #525151;}
    }
  }

  .logo {



    @media @lg {
      top: 10px;
      width: 200px;
      height: 76px;

    }

    @media @xs {
      top: 5px;
      width: 100px;
      height: 35px;
    }
    
    .fil0 {fill: white;}
    .fil1 {fill: white;}
    .fil2 {fill: white;}

    .transitions;
    position: absolute;

    &.top {
      top: 5px;
      width: 100px;
      height: 35px;

      .fil0, .fil1, .fil2 {
        fill: white;
      }
    }
  }

}

.logo-block {
  float: left;
  width: 200px;
  height: 84px;
  //display: block;
  position: absolute;
  top: 0;
  left: 50%;
  .translate(-50%,0);
  
  
  @media @xs {
    width: 100px;
    height: 35px;
  }
}

