.hero {
  background: @hero-background;
  background-position: center 0px;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  position: relative;
  padding-bottom: @grid-gutter-width;

  @media @lg {
    padding-top: 60px;
  }

  @media @md {
    padding-top: 80px;
  }

  @media @sm {
    padding-top: 80px;
  }

  @media @xs {
    padding-top: 80px;
    padding-bottom: @grid-gutter-width/2;
  }

  .hero-search-area {
    .delayed(1500ms);
    .animated;
    .fadeInRight;
    background: @hero-search-area-bg;

    @media @sm {
      margin-bottom: 30px;
    }

    label { color: white; }

    .make-xs-column(12);
    .make-md-column(4);
    .make-lg-column(4);
    //.make-lg-column(5);

    .open-search-btn {
      .hidden-lg;
      .hidden-md;
      .hidden-sm;

      &:focus, &:active {
        background: @primary-color;
        border-color: @primary-color;
        box-shadow: none;
        outline: none;
      }

      text-align: left;

      .fa-plus {
        .transitions;
        font-size: 24px;
        position: absolute;
        right: 30px;
        top: 12px;
      }

      &:not(.collapsed) {
        .fa-plus {
          transform: rotate(45deg);
        }
      }
    }

    .form-holder {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      //background: rgba(0, 0, 0, 0.5);

      @media @xs {
        background: @primary-color;
      }

      @media @sm {
        display: block;
      }

      @media @md {
        display: block;
      }

      @media @lg {
        display: block;
      }
    }

    .form-group {
      margin-bottom: 10px;
    }

    .search-btn {
      .btn-primary;

      @media @xs {
        .btn-invert;

      }
    }

  }

  .hero-search-area-title {
    .hidden-xs;
    .make-xs-column(12);
    color: white;

    @media @lg {
      h3 {margin-top: 0;}
    }
    @media @md {
      h3 {margin-top: 0;}
    }
  }

  .hero-area {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);

    @media @lg {margin-bottom: 30px;}
    @media @md {margin-bottom: 40px;}

    //background: rgba(0, 0, 0, 0.5);

    .hero-logo {
      .make-xs-column(10);
      .make-xs-column-offset(1);
      .make-sm-column(2);
      .make-sm-column-offset(0.5);
      .make-md-column(3);
      .make-md-column-offset(1);
      .make-lg-column(2);
      .make-lg-column-offset(2);

      @media @xs {
        padding-bottom: @grid-gutter-width/3;
        padding-left: 2*@grid-gutter-width;
        padding-right: 2*@grid-gutter-width;
      }

      //.fil0 {fill: white;}

      .fil1 {
        //fill: white;
        .delayed(1100ms);
        .animated;
        .fadeInLeft
      }
      .fil2 {
        fill: white;
        .delayed(900ms);
        .animated;
        .fadeInRight;

      }

      .fil0 {
        .delayed(1000ms);
        .animated;
        .fadeIn;
      }

    }

    .hero-text {
      .make-xs-column(12);
      .make-xs-column-offset(0);
      .make-sm-column(9);
      .make-sm-column-offset(0);
      .make-md-column(8);
      .make-md-column-offset(0);
      .make-lg-column(7);
      .make-lg-column-offset(0);
      .text-center;
      color: white;
      //font-family: 'Pacifico', cursive;
      font-family: 'Ubuntu', sans-serif;

      @media @lg {
        padding-top: 20px;
        font-size: 20px;
      }

      @media @md {
        padding-top: 20px;
        font-size: 18px;
      }

    }

  }

  .hero-ad-area {
    .make-xs-column(12);
    .make-md-column(8);
    .make-lg-column(8);

    @media @xs { margin-top: @grid-gutter-width/2; }

    img {
      .img-responsive;
    }
  }

  .form-group {
    //margin: 0;
  }

  .form-ad-type {
    .make-xs-column(12);
    .make-sm-column(4);
    .make-md-column(12);
    .make-lg-column(12);

  }

  .form-object-type {
    .make-xs-column(12);
    .make-sm-column(4);
    .make-md-column(12);
    .make-lg-column(12);

  }

  .form-city {
    .make-xs-column(12);
    .make-sm-column(4);
    .make-md-column(12);
    .make-lg-column(12);

  }
  .form-price {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(12);
    .make-lg-column(12);

  }

  .form-price-from {
    .make-xs-column(6);
    padding-right: 5px;
  }
  .form-price-to {
    .make-xs-column(6);
    padding-left: 5px;
  }
  .form-area {
    .make-xs-column(12);
    .make-sm-column(6);
    .make-md-column(12);
    .make-lg-column(12);

  }
  .form-area-from {
    .make-xs-column(6);
    padding-right: 5px;
  }
  .form-area-to {
    .make-xs-column(6);
    padding-left: 5px;
  }
  .form-submit {
    .make-xs-column(12);
    .make-sm-column(12);
    .make-md-column(12);
    .make-lg-column(12);

  }
}

.hero-new-search {
  .make-xs-column(12);
  margin-top: 30px;
}

.hero-overlay {
  background: @hero-overlay;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-small {
  background: @hero-small-background;
  background-position: center 0px;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  position: relative;
  padding-bottom: @grid-gutter-width;

  .overlay {
    background: @hero-small-overlay;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

