.hero {
  background: url("/images/jumbotron-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  //height: 600px;

  @media @lg {
    padding-top: 500px;

  }

  .search-area {
    background: rgba(0,0,0,0.2);
    padding: 15px 0;

    .form-group {
      //padding: 5px;
    }
  }

  .form-group {
    margin: 0;
  }
}