.hero {
  background: url("/images/jumbotron-bg-2.jpg");
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: @grid-gutter-width;

  @media @lg {
    padding-top: 200px;

  }

  @media @xs {
    padding-top: 100px;

  }

  .hero-search-area {
    .make-xs-column(12);
    //.make-lg-column(6);

    .open-search-btn {
      .hidden-lg;

      text-align: left;

      .fa-plus {
        .transitions;
        font-size: 24px;
        position: absolute;
        right: 16px;
        top: 12px;
      }

      &:not(.collapsed) {
        .fa-plus {
          transform: rotate(45deg);
        }
      }
    }

    .form-holder {
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      background: rgba(0, 0, 0, 0.5);

      @media @xs {
        background: @primary-color;
      }

      @media @lg {
        display: block;
      }
    }

    .search-btn {
      .btn-primary;

      @media @xs {
        .btn-invert;

      }
    }

  }


  .hero-area {
    .make-xs-column(12);
    .make-lg-column(6);

    .hero-logo {
      .make-xs-column(12);
    }

    .hero-text {
      .make-xs-column(12);

      @media @xs {
        .text-center;
      }

    }

  }

  .form-group {
    //margin: 0;
  }
}