#main-menu {
  position: fixed;
  background: @primary-color;
  z-index: 1500;
  top: 0;
  left: 0;
  width: 100%;
  .transitions;
  overflow-x: hidden;
  overflow-y: auto;

  padding-top: 90px;

  @media @xs {
    height: 100%;
  }


  &.active {
    top: 0;
    //max-height: 400px;
  }

  .search-area {
    .delayed(300ms);
  }

  .links-area {
    .delayed(400ms);
  }


  &.top {
    padding-top: 100px;
  }
}

.search-area {
  .make-xs-column(12);
}

.links-area {
  .make-xs-column(12);
}

.main-menu-tab {
  .make-xs-column(12);
  .make-sm-column(4);

  @media @xs {
  }
}

.main-menu-tab-selector {
  a {
    .btn;
    .btn-lg;
    .btn-primary;
    //color: white;

    &:not(.collapsed) {
      background: red;
    }
  }
}

.accordion {
  .make-xs-column(12);
}