//@primary-color: #d40f0f;
//@primary-color: #2b2b2b;
@primary-color: #d40f0f;
//@primary-color-dark: darkgrey;
@primary-color-dark: darken(@primary-color, 10%);



//HERO
@hero-overlay: rgba(0, 0, 0, 0.6);
//@hero-overlay: rgba(163, 12, 12, 0.4);
@hero-search-area-bg: rgba(0, 0, 0, 0.5);
@hero-search-area-bg: transparent;


//CTA
@cta-message-color: black;
@cta-bg: lightgrey;
@cta-time-delay-offset: 1000ms;
//@cta-message-color: white;
//@cta-bg: black;
//@cta-time-delay-offset: 1000ms;

//FEATURED
@featured-bg: @primary-color;
@featured-overlay: rgba(0, 0, 0, 0.7);

//PARTNERS
@partners-bg: white;

//FOOTER
@footer-overlay: rgba(0, 0, 0, 0.9);
@footer-bg: black;
@footer-title-color: @primary-color;
@footer-link-color: white;
@footer-link-color-hover: @primary-color;
@footer-contact-icon: darkgrey;
@footer-social-fb: white;
@footer-social-fb-hover: #4080ff;
@footer-social-insta: white;
@footer-social-insta-hover: #f48b38;

