.new {
  background: lightgray;
  position: relative;

  .wrapper {position: relative;}

  background: @new-background;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  .overlay {
    background: @new-overlay;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .proba {
    background: red;
    margin-bottom: 30px;


  }
}

.new-title {
  .make-xs-column(12);
  
  @media @xs {
    margin-bottom: 50px;
  }
}

.new-controls {
  color: black;
  position: absolute;
  top: 20px;
  right: @grid-gutter-width/2;
  
  @media @xs {
    font-size: 10px;
  }
}