.partners {
  position: relative;
  background: @partners-bg;

  padding: @grid-gutter-width 0;
  @media @xs {
    padding: 0;
  }

  .image-wrapper {
    @media @xs { padding: 10px; }
    @media @sm { padding: 20px 10px; }
    @media @md { padding: 20px 10px; }
    @media @lg { padding: 20px 10px; }
  }

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-slide {
    .transitions;
    @media @xs {
      &:not(.slick-active) {
        opacity: 0.3;
        .scale(0.7);
      }
    }
  }
}

.partners-title {
  .make-xs-column(12);
  .make-sm-column(4);
  .make-md-column(4);
  .make-lg-column(3);

  color: @partners-title-color;

  @media @md { padding-top: 10px; }
  @media @lg { padding-top: 30px; }
}

.partners-list {
  .make-xs-column(12);
  .make-sm-column(8);
  .make-md-column(8);
  .make-lg-column(9);
}