.header {
  .make-xs-column(12);
  position: relative;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }

}