@bgColor: #1C385F;


@innerSection_border_color: #C3C3C3;


@repeatableItem_border_color : #C3C3C3;



@input_background: #45607E;
@input_color: #fff;
@input_placeholder_color: #999;

@mainActionButton_bg: #22509E;
@mainActionButton_color: #fff;
@mainActionButton_border_color: #4D91AF;
@mainActionButton_font_size: 18px;

@content_border_color: #4D91AF;
@border-color-inner: #C3C3C3;