.btn-main {
  padding: 5px 50px;
  text-transform: uppercase;
  font-size: @mainActionButton_font_size;
  .button-variant(@mainActionButton_color,@mainActionButton_bg,@mainActionButton_border_color);
}