.btn {
  .fa {
    //margin-right: @grid-gutter-width/2;
  }

  border-width: 3px;

}

.btn-edit {
  .btn;
  .btn-primary;

  &:after {
    font-family: FontAwesome;
    font-size: inherit;
    margin-left: 10px;
    content: @fa-var-pencil;
  }
}

.btn-login {
  .btn;
  .btn-primary;

  &:after {
    font-family: FontAwesome;
    font-size: inherit;
    margin-left: 10px;
    content: @fa-var-sign-in;
  }
}

.btn-edit-big {
  .btn-edit;
  .btn-lg;
}

.btn-login-big {
  .btn-login;
  .btn-lg;
}

.btn-search {
  &:after {
    font-family: FontAwesome;
    font-size: inherit;
    margin-left: 10px;
    content: @fa-var-search;
  }
}

.btn-invert {
  .button-variant(white, transparent, white);

  &.active {
    .btn-primary-invert;
    box-shadow: none;

    //&.active, &:active, &:focus {
    //  .btn-primary-invert;
    //  box-shadow: none;
    //}
  }

  &:active, &:focus {
    box-shadow: none;
    //.btn-primary-invert;
  }
}

.btn-primary-dark {
  .button-variant(white, @primary-color-dark, @primary-color-dark);

  &.active {
    .btn-primary-invert;
    box-shadow: none;
    outline: none;

    &.active, &:active, &:focus {
      .btn-primary-invert;
      box-shadow: none;
      outline: none;
    }
  }

  &:active, &:focus {
    box-shadow: none;
    outline: none;
    //.btn-primary-invert;
  }
}

.btn-primary-invert {
  .button-variant(@primary-color, white, white);
  .text-center;
}

.btn-fb {
  .button-variant(white, @fb-color, @fb-color);
}

